@model int
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<div class="container" style="text-align: center; padding:100px;">
    @* we need to create Login action in the controller*@
    <div>
        <h2>Register</h2>

        @switch (@Model)
        {
            case 1:
                <h4>Username cannot be empty to register!</h4>
                break;
            case 2:
                <h4>Passwords don't match!</h4>
                break;
        }
        <form method="post" asp-action="NewUser">
            <label for="username"> Username</label><br />
            <center><input type="text" class="form-control" style="width:20%;" id="username" name="username" /></center><br />
            <label for="password"> Password</label><br />
            <center><input type="password" class="form-control" style="width:20%;" id="password" name="password" /> </center><br />
            <label for="verifyPass">Retype password</label><br />
            <center><input type="password" class="form-control" style="width:20%;" id="password" name="verifyPass" /> </center><br />
            <button type="submit" class="button" style="margin-top:10px;margin-bottom:25px;">Register</button>
        </form>
    </div>
</div>

