button {
    padding: 20px;
}

div {
    padding: 20px;
    display: block;
    position: absolute;
    border-style: inset;
    border-width: 5px;
    border-color: black;
}

canvas {
	background-image: url(main.jpg);
}

#portal {
    display: none;
}